---
import { HeaderOther } from "~/components/HeaderOther";
import Layout from "~/layouts/Layout.astro";
---

<Layout title="Akho | We Feed Dreams">
  <main>
    <HeaderOther />
    <!-- <PhotoSlider /> -->
		<div class="flex justify-center items-start my-8">
			<div class="max-w-6xl">
				<div class="p-16 flex justify-center items-center relative bg-red-500 overflow-hidden">
					<div class="flex justify-center items-start flex-col z-10">
						<h1 class="text-4xl text-gray-50 font-bold mb-8">About Us</h1>
						<p class="text-gray-50">All things start with dreams and visions. Visualizing the dreaming mobilizes the universes. If we share our vision openly we serendipitously meet likeminded people who want to ignite their vision and see it realized.</p>
					</div>
					<img src="https://akho.org.pk/wp-content/uploads/2017/03/disabled-boy.jpg" class="absolute blur-sm top-0 left-0 right-0 bottom-0 object-cover" />
					<div class="absolute top-0 left-0 right-0 bottom-0 opacity-25 bg-black" />
				</div>
				<br />
				<div class="px-4">
					<h1 class="text-2xl">Our Story</h1>
					<br />
					<p>AKHO feeds dreams. It’s named after, Akhtar Tariq Mustafa, Pakistan’s first television chef and a social worker, who helped women feed themselves and build food businesses, lovingly called Akho. When the belly is full dreams grow. Today with all the technology at hand we cannot accept that people sleep hungry in the same city that we live. All we want to do now is to take a small step and address this short coming ourselves. We also believe deeply that we are not alone. There are many of us everywhere who will support these steps and build on it.
					</p>
					<br />
					<p>AKHO’s focus is women empowerment. For that they need time to not think about feeding the meals for the moment.
					</p>
					<br />
					<p>So we run a weekly soup kitchen (Langar). There are too many people going hungry that cannot be ignored.
					</p>
					<br />
					<p>AKHO runs a school for out of school street children in Pindorian. We have a women livelihood project that manages a sewing centre teaching girls how to sew so they can earn independently from home.
					</p>
					<br />
					<p>Many parents and their children have disabilities here so we provide wheelchairs to support the families and health camps for diagnoses and support.
					</p>
					<br />
					<p>For the rural women of Sindh and Balochistan AKHO runs annual Qurbani Eid programme and Ramzan ration drive. We identify women champions who have access to other poorer women who struggle to feed their children who at times sleep hungry. They are trained to do survey and collect widows and disabled and very poor members of community and organise ration distributions and Eid Qurbani meat distributions where access to meat is rare. There is evidence that women create order, are vigilant against corruption and prioritize children and other poorer women. Based on this we empower our champions to invite others and spread the word to access other poor marginalized families to eat. Getting together provides a place for conversation, awareness raising and confidence building. Good things happen. That’s how they find ways to transform more opportunities and ideas and dreams into reality.
					</p>
					<br />
					<p>Local need now is to expand the school and provide regular workshops as this area has a lot of domestic abuse. We are looking for partners to help in this endeavour.
					</p>
					<br />
					<p>Join us when you can and where you can and contribute whatever is possible. Just stay with us and continue to send us good wishes.
					</p>
					<br />
					<p>Let us start. 
					</p>
					<br />
					<p>The rest is up to Allah who feeds all creatures big and small.
					</p>
					<br />
					<br />
				</div>
			</div>
		</div>
  </main>
</Layout>