---
---
<div class="flex justify-center items-center bg-white h-40 my-16 -mx-40 py-24 px-24 gap-16">
	<h2 class="font-serif">OUR MOST TRUSTED <br /> SUPPORTING PARTNERS</h2>
	<div class="flex justify-between items-center gap-8">
		<a href="https://www.badlde.org/"><img class="h-[60px]" src="https://akho.org.pk/wp-content/uploads/2020/02/badl-de-logo-100x80.png" /></a>
		<a href="https://ministryofchange.org"><img class="h-[60px]" src="https://akho.org.pk/wp-content/uploads/2018/05/Screen-Shot-2018-05-22-at-3.42.58-PM.png" /></a>
		<a href="https://serendip.tv"><img class="h-[60px]" src="https://akho.org.pk/wp-content/uploads/2018/05/Serendip-Logo-White-Groud-1.png" /></a>
		<a href="https://sultanafoundation.org/"><img class="h-[60px]" src="https://akho.org.pk/wp-content/uploads/2016/10/sultana-foundation.png" /></a>
	</div>
</div>