---
import { HeaderOther } from "~/components/HeaderOther";
import Layout from "~/layouts/Layout.astro";
import ProjectData from '~/data/projectData.json'
import { ProjectCard } from "~/components/ProjectCard";
import type { Project } from "~/types/project";

const projects: Project[] = ProjectData
---

<Layout title="Akho | We Feed Dreams">
  <main>
    <HeaderOther />
    <!-- <PhotoSlider /> -->
		<div class="flex justify-center items-start">
			<div class="flex-1 max-w-6xl my-8">
				<div class="grid md:grid-cols-2 2xl:grid-cols-3 gap-8 p-8">
					{
						projects.map((p) => {
							return <ProjectCard project={p} />
						})
					}
				</div>
			</div>
		</div>
  </main>
</Layout>